//- ---
//- title: ""
//- description: ""
//- keywords: ""
//- section: "default"
//- ---


extends /templates/base.pug


block meta
    - var title = 'page title'
    - var description = 'page description'
    - var pageClass = 'index'

block content

    header.header--page
        .wrap--content

            h1 This is a test of the new Gulp build

            p Neato!

            p ahoy matey

    section.section--page
        .wrap--content
