//- ---
//- title: ""
//- description: ""
//- keywords: ""
//- section: "default"
//- ---

extends /templates/base.pug

block content

    header.header--page
        .wrap--content

            h1 This is a test of the new Gulp build

            p Neato!

    section.section--page
        .wrap--content
